@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="bir">
    <h1>LITTLESKY</h1>
    <a>
        
    </a><br><br><br>
</div>
<div>
    <p>
        <strong>KISA HİKAYEMİZ</strong>
        <br>
        Firmamız, 20 yıllık pamuk iplikçiliği ve pamuklu dokuma deneyimi sonrası, 2009 yılında 1994 yılından beri sektörün içinde olan bir kuruluşla güç birliği yaparak koltuk üretimine başlamış bir girişimci hikayesidir. 2017 de üretim hattına komple boyalı mobilya üretimini eklemiş, 2020 yılında da genç odası üretimine başlamıştır.
        <br>
        Firmamız ürettiği tüm ürünlerde, özgünlüğe ve güncel trendlere bağlı kalırken, müşteri odaklı çalışma prensibiyle, iş ortağı olduğu müşterilerinin nihai tüketiciye karşı yüzünü güldürmektedir.

        Termin, SSH vb. konularda sıkıntı yaşamayacaklarından emin olan paydaşlarımız, mamullerimizden emin olarak ürünlerini sergilemektedir.
        <br>
        Firmamiz İnegöl 1.OSB nin arka tarafındaki sanayi bölgesinde koltuk, mobilya ve genç odası üretimleriyle hizmet etmeye devam etmektedir.
    </p>
    <p>
        <strong>MİSYONUMUZ</strong>
        <br>
        Özgün tasarımlarla, trend belirleyen kaliteli ve fonksiyonel ürünler üreterek; ulaşılabilir her yerde var olmak, ulaşılamaz denilen yerleri de ulaşılır kılmaktır.
    </p>
    <p>
        <strong>VİZYONUMUZ</strong>
        <br>
        Teknolojik gelişmeler ve yenilikleri ürünlerimizi uygulayarak, ülkemizin 2023  2053 ve benzeri hedeflerine katkıda bulunacak şekilde ülkemiz hedeflerinin oldukça önünde giderek ülkemize döviz kazandırmaktır.
    </p>
</div>
<footer class="footer">
    <div id="ebultenFootersonuc">
        <form id="ebultenFooter-form" onsubmit="return false;" method="post" action="#">
            <p>
                <h4>E-Bültene Abone Olun</h4>
                E-bültene abone olun indirim,
                kampanya ve en son haberleri sakın kaçırmayın.
            </p>
            <div class="left">
                <input type="email" name="email" placeholder=" E-Mail Adresiniz Yazınız">
                <button id="ebultenFooterBTN" type="submit">Kayıt Ol</button>
            </div>
            <hr>
        </form>
        <p>
            <img class="logo" src="https://hillsa.com.tr/front/img/logo.png" alt="logo">
        </p>
        <p>
            HİLLSA KISA HİKAYEMİZ Firmamız, 20 yıllık pamuk iplikçiliği ve pamuklu dokuma deneyimi sonrası, 2009 yılında 1994 yılından beri sektörün içinde olan bir kuruluşla güç birliği yaparak koltuk üretimine başlamış bir girişimci hikayesidir. 2017 de üretim hattına komple boyalı mobilya üretimini eklemiş, 2020 yılında da genç odası üretimine başlamıştır.
        </p>
        <div class="col-xl-4 col-md-6 blog">
            <div>
                <strong>BLOG</strong>
                <ul>
                    <li>
                        <a href="https://hillsa.com.tr/blog/136/2025-istanbul-mobilya-fuari/">
                            <span><img src="https://hillsa.com.tr/front/uploads/blog/ef4385626553f3aec19926b0e3bf0e3f05f82ede.webp" alt="2025 İstanbul Mobilya Fuarı"></span>
                            <br>
                            <span>2025 İstanbul Mobilya Fuarı</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://hillsa.com.tr/blog/134/istanbul-mobilya-fuari-2022/">
                            <span><img src="https://hillsa.com.tr/front/uploads/blog/9f9ed42572439156243a549a76f07ad241a7c3c5.webp" alt="İstanbul Mobilya Fuarı 2022"></span>
                            <br>
                            <span>İstanbul Mobilya Fuarı 2022</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://hillsa.com.tr/blog/133/imob-expo-2020/">
                            <span><img src="https://hillsa.com.tr/front/uploads/blog/56a1fe4dea65e7891fd7053d0e647d16cb1bf94e.webp" alt="Imob Expo 2020"></span>
                            <br>
                            <span>Imob Expo 2020</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-xl-4 col-md-6 contact">
            <div>
                <strong>İLETİŞİM</strong>
                <ul>
                    <li class="phone">
                        <a href="tel:+90 224 712 1999">+90 224 712 1999</a><br>
                        +90 224 712 1999 Fax
                    </li>
                    <li class="mail">
                        <a href="mailto:info@hillsa.com">info@hillsa.com</a>
                    </li>
                    <li class="map">
                        Cumhuriyet Mahallesi Yıldırım Beyazıt Cad. No:5/5B İnegöl BURSA TÜRKİYE
                    </li>
                    <li class="map">
                        İnegöl - Bursa Karayolu Üzeri Mobiliyum AVM A-Etap 2.Kat No:26 İnegöl / BURSA
                    </li>
                </ul>
            </div>
        </div>

        <div class="bottom row align-items-center">
            <p class="col-md">
                LittleSky Coder
            </p>
            <p class="col-md-auto">
                <span></span>
            </p><p style="text-align: left;"><span style="color: deepskyblue;"><a style="color: darkcyan;" href="https://hillsa.com.tr/sayfalar/2/kvkk-sozlesmesi/">Kvkk Sözleşmesi</a></span></p>
            <br>
        </div>

    </div>
</footer>