@{
    ViewData["Title"] = "Home Page";
}

<div class="bir">
    <p></p>
    <h1>LITTLESKY</h1> <br>
    <h4 class="display-6">^^Welcome^^</h4>
</div>

<br>
<br>
<br>

<h2><i style="color: #4563a4;">^^LittleSky Coder^^</i></h2>
<br>
<div class="story">
    <p>
        <strong>KISA HİKAYEMİZ</strong>
        <br>
        Firmamız, 20 yıllık pamuk iplikçiliği ve pamuklu dokuma deneyimi sonrası, 2009 yılında 1994 yılından beri sektörün içinde olan bir kuruluşla güç birliği yaparak koltuk üretimine başlamış bir girişimci hikayesidir. 2017 de üretim hattına komple boyalı mobilya üretimini eklemiş, 2020 yılında da genç odası üretimine başlamıştır.
        <br>
        Firmamız ürettiği tüm ürünlerde, özgünlüğe ve güncel trendlere bağlı kalırken, müşteri odaklı çalışma prensibiyle, iş ortağı olduğu müşterilerinin nihai tüketiciye karşı yüzünü güldürmektedir.

        Termin, SSH vb. konularda sıkıntı yaşamayacaklarından emin olan paydaşlarımız, mamullerimizden emin olarak ürünlerini sergilemektedir.
        <br>
        Firmamiz İnegöl 1.OSB nin arka tarafındaki sanayi bölgesinde koltuk, mobilya ve genç odası üretimleriyle hizmet etmeye devam etmektedir.
    </p>
    <br>
    <p>
        <strong>MİSYONUMUZ</strong>
        <br>
        Özgün tasarımlarla, trend belirleyen kaliteli ve fonksiyonel ürünler üreterek; ulaşılabilir her yerde var olmak, ulaşılamaz denilen yerleri de ulaşılır kılmaktır.
    </p>
    <br>
    <p>
        <strong>VİZYONUMUZ</strong>
        <br>
        Teknolojik gelişmeler ve yenilikleri ürünlerimizi uygulayarak, ülkemizin 2023  2053 ve benzeri hedeflerine katkıda bulunacak şekilde ülkemiz hedeflerinin oldukça önünde giderek ülkemize döviz kazandırmaktır.
    </p>
</div>
<br>
<br>
<hr style="color : deepskyblue; border : 2px solid">
<div id="ebultenFootersonuc">
    <div class="left col-lg">
        <strong>E-Bültene Abone Olun</strong>
        <p>
            E-bültene abone olun indirim, <br>
            kampanya ve en son haberleri sakın kaçırmayın.
        </p>
    </div>
    <form id="ebultenFooter-form" onsubmit="return false;" class="newsletter-form" method="post" action="#" data-mailchimp="true">
        <div class="right">
            <input type="email" name="email" placeholder="@@ E-Mail Adresiniz Yazınız  ">

            <input type="hidden" name="EBultenToken" value="ecb47ce98d3b98faf39c04c87aa6923e989965ad03d51bfaf8be8960806d373d">
            <input type="hidden" name="recaptcha_response" id="recaptchaResponse">
            <button id="ebultenFooterBTN" type="submit">Kayıt Ol</button>
            <br>
        </div>
    </form>
</div>

<footer class="footer">
    <div class="row-cols-3">
        <div id="col" class="logo">
            <p>
                <img src="/css/mvc.png" alt="logo">
            </p>
            <br>
            <p>
                HİLLSA KISA HİKAYEMİZ Firmamız, 20 yıllık pamuk iplikçiliği ve pamuklu dokuma deneyimi sonrası, 2009 yılında 1994 yılından beri sektörün içinde olan bir kuruluşla güç birliği yaparak koltuk üretimine başlamış bir girişimci hikayesidir. 2017 de üretim hattına komple boyalı mobilya üretimini eklemiş, 2020 yılında da genç odası üretimine başlamıştır.
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        
        <div id="col" class="blog">
            <div>
                <strong>BLOG</strong>
                <br>
                <br>
                <ul>
                    <li>
                        <a href="https://hillsa.com.tr/blog/136/2025-istanbul-mobilya-fuari/">
                            <img class="resim" src="/css/coding.jpeg" alt="2025 İstanbul Mobilya Fuarı">
                            <br>
                            <span>2025 İstanbul Mobilya Fuarı</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://hillsa.com.tr/blog/134/istanbul-mobilya-fuari-2022/">
                            <img class="resim" src="/css/coding.jpeg" alt="İstanbul Mobilya Fuarı 2022">
                            <br>
                            <span>İstanbul Mobilya Fuarı 2022</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://hillsa.com.tr/blog/133/imob-expo-2020/">
                            <img class="resim" src="/css/coding.jpeg" alt="Imob Expo 2020">
                            <br>
                            <span>Imob Expo 2020</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="col" class="contact">
            <div>
                <strong>İLETİŞİM</strong>
                <br>
                <br>
                <ul>
                    <li class="phone">
                        <a href="tel:+90 224 712 1999">+90 224 712 1999</a><br>
                        +90 224 712 1999 Fax
                    </li>
                    <li class="mail">
                        <a href="mailto:info@hillsa.com">info@hillsa.com</a>
                    </li>
                    <li class="map">
                        Cumhuriyet Mahallesi Yıldırım Beyazıt Cad. No:5/5B İnegöl BURSA TÜRKİYE
                    </li>
                    <li class="map">
                        İnegöl - Bursa Karayolu Üzeri Mobiliyum AVM A-Etap 2.Kat No:26 İnegöl / BURSA
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br><br>

    <div class="col-2">
        <br>
        <br>
        <p style ="color: deepskyblue; width: 100%;">LittleSky Coder</p>
    </div>
</footer>