@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

/*
oncontextmenu="return false;"  body içerisine yazılırsa sayfada sağ tıklanma engellenmiş olur
*/
<div class="back">
    <div class="text-center">
        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <header>
        <div class="container">
            <a href="#" class="menu">
                <i class="fas fa-align-center"></i>
                <span>MENÜ</span>
            </a>
            <a href="#" class="logo">
                <img src="/css/coding.jpeg" alt="Hillsa Mobilya">
            </a>
            <ul>
                <li class="social"><a href="" target="_blank"> <i class="fab fa-facebook-f"></i></a></li>
                <li class="social"><a href="" target="_blank"> <i class="fab fa-twitter"></i></a></li>
                <li class="social"><a href="" target="_blank"> <i class="fab fa-instagram"></i></a></li>
                <li>            <a href="#" class="search"><i class="fas fa-search"></i></a>          </li>
                <li>            <a href="#"><span>TR</span></a>          </li>
                <li>            <a href="https://hillsa.com.tr/DilDegistir/2/us/"><span>EN</span></a>          </li>
            </ul>
        </div>
    </header>

    <div class="card">
        <h5>KVKK Sözleşmesi</h5>
        <ol>
            HİLSA MOBİLYA SANAYİ VE TİCARET LTD. ŞTİ.
            6698 SAYILI KİŞİSEL VERİLERİN KORUNMASI KANUNU KAPSAMINDA AYDINLATMA METNİ
        </ol>

        <ol>Hilsa Mobilya Sanayi ve Ticaret Ltd. Şti., yürüttüğü faaliyetler kapsamında işlediği kişisel verilerinizi korumak için, 6698 Sayılı Kişisel Verilerin Korunması Kanunu’na (“KVKK”) uygun olarak her türlü teknik ve hukuki tedbiri almaktadır. İlgili kişiler; işlenen kişisel veri kategorilerini, kişisel verilerin işlenmesinin hukuki sebeplerini, üçüncü kişilere aktarımı yapılan verileri ve bu aktarımın amacı ile KVKK kapsamında yer alan haklarına ilişkin ayrıntılı bilgilere aşağıdaki aydınlatma metninden ulaşabilirler.</ol>
        <p>
            <h6>Veri Sorumlusu</h6>

            <ol>Hilsa Mobilya Sanayi ve Ticaret Ltd. Şti.</ol>
            <ol>Mersis No :</ol>
            <ol>İnternet Adresi :</ol>
            <ol>Telefon Numarası : 0 (224) 712 19 99</ol>
            <ol>Adres : Cumhuriyet Mah. Yıldırım Beyazıt Cad. No:5/5B İnegöl / Bursa / Türkiye</ol>
            
        </p>
        <p>
            <h6>Kişisel Verilerin İşlenme Amaçları</h6>
            <ol>Kişisel verileriniz, Hilsa Ltd. Şti. tarafından veri sorumlusu sıfatıyla aşağıda yer alan amaçlarla ve kapsamda KVKK’nın 5. ve 6. maddelerine uygun olacak şekilde işlenmektedir:</ol>
            <ol>Ürün ve hizmetlerimizi iyileştirmek, geliştirmek, çeşitlendirmek ve ticari ilişki içerisinde olduğumuz gerçek/tüzel kişilere alternatifler sunabilmek amacıyla,</ol>
            <ol>Hilsa Ltd. Şti.tarafından, müşterilerimizin ve çalışanlarımızın ihtiyaçlarının belirlenmesi, sözleşme ile ilgili yükümlü olunan edimlerin yerine getirilmesi, reklam ve pazarlama faaliyetinin sürdürülmesi, müşteri takibinin sağlanması, iş güvenliği ve iş sürekliliğinin temini amacıyla,</ol>
            <ol>Hizmet standartlarımızı yükseltmek ve geliştirmek amacıyla,</ol>
            <ol>Ticari iş stratejilerimizin belirlenmesi ve uygulanması amacıyla,</ol>
            <ol>Hilsa Ltd. Şti..‘nin taraf olduğu sözleşmelerin Hilsa Ltd. Şti. tarafından eksiksiz ifası ve bu sözleşmelerde karşı tarafların sözleşmeleri eksiksiz ifa ettiklerinin kontrolü amacıyla,</ol>
            <ol>Hilsa Ltd. Şti.. ile ticari ilişki içerisinde olan gerçek/tüzel kişilerin hukuki güvenliğinin sağlanması amacıyla,</ol>
            <ol>Mevzuattaki kanunlar uyarınca Hilsa Ltd. Şti. tarafından düzenlenmesi gereken ticari defterleri, faturaları, banka çek ve bordroları düzenleyebilmek amacıyla,</ol>
            <ol>Çalışanların, misafirlerin ve Hilsa Ltd. Şti.’ye ait binaların güvenliğini sağlayabilmek ve giriş-çıkışları kontrol edebilmek amacıyla,</ol>
            <ol>Çalışan adaylarının işe alım süreçlerinin değerlendirilmesi, çalışanların özlük dosyalarının oluşturulması ve Hilsa Ltd. Şti.’nin insan kaynakları politikalarının sürdürülmesi amacıyla,</ol>
            <ol>Hilsa Ltd. Şti.. bünyesinde çalışan personelin moral ve motivasyonunu, performans düzeyini ve memnuniyetlerini, birbirleriyle ve şirketle olan etkileşimlerini artırmak ve şirkete olan bağlılıklarını sağlamak amacıyla,</ol>
            <ol>Hilsa Ltd. Şti..’nin ticari satın alma işlemlerinin gerçekleştirilmesi amacıyla,</ol>
            <ol>Hilsa Ltd. Şti..’nin kurumsal yazışmalarının yapılması amacıyla,</ol>
            <ol>İnternet sitemizin ziyaret edilmesi durumunda istatiksel verilerin oluşturulması ve ziyaretçi bilgilerinin kaydedilmesi ve geri dönüşlerin sağlanması amacıyla,</ol>
            <ol>Bunlarla birlikte gerekli kalite ve standart denetimlerimizi yapabilmek ya da kanun ve yönetmelikler ile belirlenmiş sair yükümlülüklerimizin yerine getirilmesi gibi amaçlar üzerine.</ol>
        </p>
        <p>
            <h6>Kişisel Verilerin Aktarılması</h6>
            <ol>İşlediğimiz kişisel veriler yukarıdaki amaçlar çerçevesinde, KVKK’nın 8. ve 9. maddeleri dikkate alınarak:</ol>
            <ol>Ticari faaliyetlerimizin yerine getirilebilmesi ve sürekliliğin sağlanabilmesi amacıyla, iş ortaklarımıza,</ol>
            <ol>Ürün ve hizmetlerin sağlanabilmesi amacıyla sınırlı olarak tedarikçilerimize,</ol>
            <ol>Kanunlarda öngörülen yasal yükümlülüklerin yerine getirilmesi ve güvenliğin sağlanması amacıyla başta SGK olmak üzere ilgili kamu kurum ve kuruluşlarına,</ol>
            <ol>Hilsa Ltd. Şti. bünyesinde istihdam edilen kişilerin sosyal ve mali haklarının karşılanmasını sağlamak amacıyla başta bankalar olmak üzere diğer özel ve kamu tüzel kişiliklerine,</ol>
            <ol>İlgili kamu kurum ve kuruluşlarının talepleri doğrultusunda ve talep amaçlarıyla sınırlı olarak hukuken yetkili kamu kurum ve kuruluşlarına ve yargı organlarına,</ol>
            <ol>Müşteri takibi ve müşteri ihtiyaçlarının giderilmesi amacıyla Hilsa Ltd. Şti. bağlı şirketlerin yurtiçi ve yurtdışında kurulu iş ortaklarına, bayilerine ve tedarikçilerine,</ol>
            <ol>İş sağlığı ve güvenliği önlemleri kapsamında çalışanların sağlık bilgilerinin sağlıklı bir iş ortamında çalışabilmeleri amacıyla ilgili sağlık hizmeti alınan kurumlara ve sigorta şirketlerine aktarılabilmektedir.</ol>
        </p>
        <p>
            <h6>Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h6>
            <ol>Kişisel verileriniz Hilsa Ltd. Şti. adına veri işleme yetkisine sahip muhasebe ve insan kaynakları departmanı tarafından, beyan, başvuru formları, internet sitesinden doldurulan formlar, özlük dosyası oluşturmak üzere istenen belgeler, muhtelif sözleşmeler, her türlü bilgi formları, anketler, iş başvuru formları, çağrı merkezleri üzerinden sözlü, yazılı veya elektronik kanallar aracılığı ile açık rızanız ya da kanunda öngörülen kişisel veri işleme şartları kapsamında toplanmaktadır.</ol>
            <ol>Bu bilgiler,ticari ve idari faaliyetlerimizin, yasalar çerçevesinde sunulabilmesi ve bu kapsamda Hilsa Ltd. Şti.’nin hizmetlerini yürütebilmesi, ticari hayatını sürdürebilmesi ve yasalardan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine getirebilmesi amaçlarıyla edinilir.</ol>
        </p>
        <p>
            <h6>İlgili Kişinin KVKK Kapsamındaki Hakları</h6>
            <ol>Hillsa Ltd.Şti. bünyesinde kişisel verisi işlenen gerçek kişiler KVKK’nın 11. maddesi uyarınca aşağıdaki haklara sahiptirler:</ol>
            <ol>Kişisel verisinin işlenip işlenmediğini öğrenme,</ol>
            <ol>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</ol>
            <ol>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</ol>
            <ol>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı veya aktarılacağı üçüncü kişileri, alıcıları ve alıcı kategorilerini,</ol>
            <ol>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemlerin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</ol>
            <ol>KVKK ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ya da söz konusu işleme faaliyetinin durdurulmasını ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</ol>
            <ol>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</ol>
            <ol>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme.</ol>
        </p>
        <p>
            <ol>İlgili kişiler bu haklara ilişkin taleplerini, şirketimizin Hilsa Ltd. Şti., Cumhuriyet Mah. Yıldırım Beyazıt Cad. No:5/5B İnegöl / Bursa / Türkiye adresine noter yoluyla çekilecek ihtarname ile veya kimlik ibrazıyla şirketimize yapılacak şahsen başvurular ile iletebilirler. İlgili kişinin talepleri en kısa sürede ve nihayetinde en geç otuz (30) gün içerisinde ücretsiz olarak değerlendirilip karara bağlanır. Değerlendirme ve karar verme işleminin ayrıca bir maliyeti gerektirmesi durumunda Veri Sorumlusuna Başvuru Usul ve Esasları Hakkında Tebliğ’de belirlenmiş olan tarifedeki ücret esas alınır.İlgili kişiler, şirketimize başvuru yaptıktan sonra, söz konusu başvuruya ilişkin yanıttan memnun kalmazlarsa Kişisel Verileri Koruma Kurumu’na şikâyet yoluna gidebilirler.</ol>
        </p>
    </div>

    <footer class="footer">
        <div class="row-cols-3">
            <div id="col" class="logo">
                <p>
                    <img src="/css/mvc.png" alt="logo">
                </p>
                <p>
                    HİLLSA KISA HİKAYEMİZ Firmamız, 20 yıllık pamuk iplikçiliği ve pamuklu dokuma deneyimi sonrası, 2009 yılında 1994 yılından beri sektörün içinde olan bir kuruluşla güç birliği yaparak koltuk üretimine başlamış bir girişimci hikayesidir. 2017 de üretim hattına komple boyalı mobilya üretimini eklemiş, 2020 yılında da genç odası üretimine başlamıştır.
                </p>
            </div>
            <br>
            <br>
            <br>
            <br>

            <div id="col" class="blog">
                <div>
                    <strong>BLOG</strong>
                    <ul>
                        <li>
                            <a href="https://hillsa.com.tr/blog/136/2025-istanbul-mobilya-fuari/">
                                <img class="resim" src="/css/coding.jpeg" alt="2025 İstanbul Mobilya Fuarı">
                                <br>
                                <span>2025 İstanbul Mobilya Fuarı</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://hillsa.com.tr/blog/134/istanbul-mobilya-fuari-2022/">
                                <img class="resim" src="/css/coding.jpeg" alt="İstanbul Mobilya Fuarı 2022">
                                <br>
                                <span>İstanbul Mobilya Fuarı 2022</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://hillsa.com.tr/blog/133/imob-expo-2020/">
                                <img class="resim" src="/css/coding.jpeg" alt="Imob Expo 2020">
                                <br>
                                <span>Imob Expo 2020</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="col" class="contact">
                <div>
                    <strong>İLETİŞİM</strong>
                    <ul>
                        <li class="phone">
                            <a href="tel:+90 224 712 1999">+90 224 712 1999</a><br>
                            +90 224 712 1999 Fax
                        </li>
                        <li class="mail">
                            <a href="mailto:info@hillsa.com">info@hillsa.com</a>
                        </li>
                        <li class="map">
                            Cumhuriyet Mahallesi Yıldırım Beyazıt Cad. No:5/5B İnegöl BURSA TÜRKİYE
                        </li>
                        <li class="map">
                            İnegöl - Bursa Karayolu Üzeri Mobiliyum AVM A-Etap 2.Kat No:26 İnegöl / BURSA
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-2">
            <br>
            <br>
            <p style="color: deepskyblue; width: 100%;">LittleSky Coder</p>
        </div>
    </footer>
</div>