html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.display-6{
    color : whitesmoke;
    text-align : center;
}
h1{
    text-align : center;
    color : lightskyblue;
}
strong {
    font-size : 30px;
    font-style : italic;
}
.logo {
    float: left;
    object-fit: inherit;
}
#text-center {
    width: 100%;
    margin: auto;
}
img {
    height: 70px;
    width: 150px;
}
.bir {
    background-image: url(/css/Le-Petit-Prince-75th-Anniversary-1200x900.jpeg);
    background-size: 100% 100%;
    background-position: center;
    border: 1px solid;
    height : 630px;
    width : 100%;
}
.story{
    text-align: justify;
}
.class {
    border-left: 1px solid;
    padding : 3px;
}
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.footer {
    float: none;
    margin-top: 90px;
    padding-top: 90px;
}
strong{
    color : deepskyblue;
}
.contact{
    object-fit : contain;
    padding-top : 1rem;
}
.left {
    text-align: center;
    float: left;
    width: 40%;
    margin: 0;
}
.right {
    text-align: center;
    float: inline-end;
    width: 60%;
    padding: 15px 40px;
    font-size: 18px;
    color: #777777;
    border: 1px solid #c2c2c2;
    margin: 0;
}
#col {
    border-right: 1px solid;
    text-align : justify;
    border-bottom : 1px solid;
    border-top : 1px solid;
    border-left: 1px solid;
    padding: 3px;
}
.row-cols-3 {
    display: flex;
    flex-wrap: nowrap;
    object-fit: inherit;
}
.resim {
    object-fit : contain;
    
}
.col-md {
    margin-bottom : 40px;
}